<div class="comment">
  <% if logged_in? %>
    <div class="vote">
      <form action="/postvote" method='post'>
        <input type="hidden" name="form[user_id]" value=<%= current_user.id %>>
        <input type="hidden" name="form[comment_id]"value=<%= comment.id %>>
        <input type="submit" value="VOTE!">
      </form>
      <!-- <a href="/"><img src="/img/grayarrow.gif"></a> -->
    </div>
  <% end %>
  
  <div class="comment-head">
    <span class="comment-user"><a href='/user/<%=comment.user.id%>'><%= comment.user.name %></a></span>
    <span class="comment-time"><%= comment.created_at %></span>
    <!-- LINKS TO SOLO COMMENT VIEW AND PARENT COMMENT -->
    <span class="comment-time"><a href="/posts/<%= comment.post.id %>"><%= comment.post.title %></a></span>
  </div>
  <div class="comment-body">
    <p><%= comment.body %></p>
  </div>
</div>

